* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* #container {
    position: absolute;
    top: 0; 
    left: 0; 
    background: black; 
    width: 100%; 
    height: 100%; 
}

#canvas1 {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
*/

#audio1 {
    position: absolute;
    width: 15%;
    top: 0;
    left: 0;
    z-index: 5;
    visibility: hidden;
}


#fileupload {
    position: absolute; 
    top: 150px; 
    color: white;
    z-index: 6;
} 

/*--PLAY--------------------------------*/

#play-button {
    z-index: 5; 
    position: absolute; 
    top: 40px;
    left: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 200;
    user-select: none;
    background-color: rgb(207, 177, 235);
    border: none;
    padding: 10px;
}

#play-button:hover {
    background-color: rgb(118, 118, 255);
    color: #fff;
}

/*--SONG--------------------------------*/

#song-board {
    z-index: 5; 
    position: absolute; 
    top: 110px;
    left: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 200;
    user-select: none;
}

#song-title {
    z-index: 5; 
    position: absolute; 
    top: 140px;
    left: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 200;
    color: white;
    user-select: none;
}

#song-artist {
    z-index: 5; 
    position: absolute; 
    top: 170px;
    left: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 200;
    color: white;
    user-select: none;
}

/*--COMBO--------------------------------*/

#combo-points {
    z-index: 5; 
    position: absolute; 
    top: 40px;
    left: 717px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 200;
    user-select: none;
}

#combo {
    z-index: 5; 
    position: absolute; 
    top: 80px;
    left: 668px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: white;
    user-select: none;
}

/*--SCORE--------------------------------*/

#scoreboard {
    z-index: 5; 
    position: absolute; 
    top: 40px;
    left: 1240px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 200;
    user-select: none;
}

#points {
    z-index: 5; 
    position: absolute; 
    top: 65px;
    left: 1240px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: white;
    user-select: none;
}

/*--LIGHTS--------------------------------*/

#light-1 {
    z-index: 3; 
    position: absolute; 
    user-select: none;
    width: 66px;
    height: 100vh;
    left: 292px;
    background-color: rgba(255, 255, 255, 0.2);
}

#light-2 {
    z-index: 3; 
    position: absolute; 
    user-select: none;
    width: 66px;
    height: 100vh;
    left: 492px;
    background-color: rgba(255, 255, 255, 0.2);
}

#light-3 {
    z-index: 3; 
    position: absolute; 
    user-select: none;
    width: 66px;
    height: 100vh;
    left: 692px;
    background-color: rgba(255, 255, 255, 0.2);
}

#light-4 {
    z-index: 3; 
    position: absolute; 
    user-select: none;
    width: 66px;
    height: 100vh;
    left: 892px;
    background-color: rgba(255, 255, 255, 0.2);
}

#light-5 {
    z-index: 3; 
    position: absolute; 
    user-select: none;
    width: 66px;
    height: 100vh;
    left: 1092px;
    background-color: rgba(255, 255, 255, 0.2);
}

/*--CANVAS--------------------------------*/

#TPJ {
    width: 100vw;
    height: 100vh;
    position: relative;
}

canvas { 
    position: absolute; 
}

#text-layer {
    z-index: 4; 
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

#gameplay-layer2 {
    z-index: 3; 
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

#gameplay-layer1 {
    z-index: 2; 
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

#background-layer {
     z-index: 1;
     width: 100vw;
     height: 100vh;
     background-color: #b2a4ff;
}




/* #background-layer {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #b2a4ff;

} */