* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/*--AUDIOS--------------------------------*/

.audio-file {
    position: absolute;
    visibility: hidden;
}

/*--START MENU--------------------------------*/

#start-menu {
    z-index: 10;
    position: absolute; 
    background-color: #b3a3ff;
    width: 100vw;
    height: 100vh;
}

#game-title {
    z-index: 10; 
    position: absolute; 
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 200;
    color: #9f6ac3;
    user-select: none;
}

#game-title span{
    color: #f6ceef;
}

#start-button {
    z-index: 10; 
    position: absolute; 
    top: 45%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    user-select: none;
}

#rectangle-1 {
    position: absolute;
    width: 250px;
    height: 85px;
    background-color: #fddcff;
    border-radius: 50px;
}

#start-button:hover #rectangle-1 {
    background-color: #eda6d2;
}

#rectangle-2 {
    position: absolute;
    width: 250px;
    height: 80px;
    background-color: transparent;
    border: 5px solid #eda6d2;
    border-radius: 50px;
}

#start-button:hover #rectangle-2 {
    border: 5px solid #fddcff;
    border-radius: 50px;
}

#start-text {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: #eda6d2;
    margin: 4.5% 29%;
}

#start-button:hover #start-text {
    color: #fddcff;
}

/*--SONG MENU--------------------------------*/

#song-menu {
    z-index: 7;
    position: absolute; 
    background-color: #b3a3ff;
    width: 100vw;
    height: 100vh;
}

#song-select {
    z-index: 7; 
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: #e2c8f5;
    user-select: none;
}

#song-player {
    position: absolute; 
    width: 300px;
    height: 420px;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#cdbbff;
}

.album-art-size{
    position: absolute; 
    width: 250px;
    height: 250px;
    top: 4%;
    left: 8%;
}

.album-art-size img{
    width: 250px;
    height: 250px;
    opacity: 0.75;
    user-select: none;
}

.song-name {
    position: absolute; 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #8474d1;
    user-select: none;
    top: 64%;
    left: 7%;
}

.song-artiste {
    position: absolute; 
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: #8474d1;
    user-select: none;
    top: 71%;
    left: 7%;
}


.play-button {
    height: 74px;
    width: 74px;
}

.circle-1 {
    background-color: #9384db;
    height: 74px;
    width: 74px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    right: 26%;
    bottom: -5%;
}

.triangle-1 {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #cdbbff;
    transform: rotate(90deg) translate(-50%, -50%);
    position: absolute;
    bottom: 5.5%;
    left: 41%;
}

.play-button:hover .circle-1 {
    background-color: hsl(234, 67%, 67%);
}

.play-button:hover .triangle-1 {
    border-bottom: 30px solid #ffcffd;
}


#left-arrow {
    z-index: 7; 
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 40%;
    left: -23%; 
    width: 30px; 
    user-select: none;
}

#right-arrow {
    z-index: 7; 
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 43%;
    right: -28%; 
    width: 30px; 
    transform: rotate(180deg);
    user-select: none;
}


#play-guy-jyen {
    visibility: visible;
}

#play-otherhalf-rangga {
    visibility: hidden;
}

#play-makehermine-jason {
    visibility: hidden;
}


/*--INFO MENU--------------------------------*/
#info-button {
    z-index: 7; 
    position: absolute;
    transform: translate(-50%, -50%) rotate(180deg);
    top: 9%;
    left: 7%;
    width: 40px; 
    user-select: none;
}

#info-menu {
    z-index: 8; 
    position: absolute; 
    transform: translate(-50%, -50%);
    width: 1150px;
    height: 550px;
    top: 48%;
    left: 50%;
    background-color: #c5c2ff;
    visibility: hidden;
}

#info-cancel {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 8%; 
    left: 95%;
    width: 35px;
    user-select: none;
}

#info-text {
    margin-top: 60px;
}

#info-text h6{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 200;
    color: #8474d1;
    padding: 20px 130px 0px 130px;

}

#info-controls {
    width: 800px;
    margin: 120px 190px 50px 190px;
}


/*--GAME MENU--------------------------------*/

/*--song-board---*/
#song-board {
    z-index: 5; 
    position: absolute; 
    transform: translate(-50%, -50%);
    top: 200px;
    left: 150px;
    display: flex;
    align-items:flex-start; 
    flex-direction: column; 
    width: 200px;
}

#song-board h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 200;
    user-select: none;
    padding: 3px;
}

#song-board span {
    font-size: 18px;
}


/*--combo-board---*/

#combo-board {
    z-index: 5; 
    position: absolute; 
    top: 60px;
    left: 630px;
    display: flex;
    align-items: center; 
    flex-direction: column; 
    width: 200px;
}

#combo-board h5{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 200;
    user-select: none;
    padding: 3px;
}


/*--combo-animation---*/
@keyframes scaleCombo {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}

.combo-class {
    animation-name: scaleCombo;
    animation-duration: 0.3s; 
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

/*--score-board---*/

#scoreboard {
    z-index: 5; 
    position: absolute; 
    transform: translate(-50%, -50%);
    top: 320px;
    left: 1350px; 
    display: flex;
    align-items: flex-start; 
    flex-direction: column; 
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    user-select: none;}

.score-titles {
    font-size: 18px;
    padding: 20px 0 5px 0; 
}

.score-numbers {
    font-size: 35px;
    padding: 2px 0 20px 0; 
    font-weight: 100;
}


/*--hit-animation---*/

#hits {
    z-index: 5; 
    position: absolute; 
    transform: translate(-50%, -50%);
    top: 240px;
    left: 600px;
    width: 250px;

    display: flex; 
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    color: white;
    user-select: none;
    visibility: hidden;
}

@keyframes scale {
    from {
        transform: scale(2.3);
    }

    to {
        transform: scale(1);
    }
}

.hits-class {
    animation-name: scale;
    animation-duration: 0.5s; 
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

/*--LIGHTS--------------------------------*/

#light-1 {
    z-index: 3; 
    position: absolute; 
    user-select: none;
    width: 66px;
    height: 100vh;
    left: 292px;
    background-color: rgba(255, 255, 255, 0.2);
}

#light-2 {
    z-index: 3; 
    position: absolute; 
    user-select: none;
    width: 66px;
    height: 100vh;
    left: 492px;
    background-color: rgba(255, 255, 255, 0.2);
}

#light-3 {
    z-index: 3; 
    position: absolute; 
    user-select: none;
    width: 66px;
    height: 100vh;
    left: 692px;
    background-color: rgba(255, 255, 255, 0.2);
}

#light-4 {
    z-index: 3; 
    position: absolute; 
    user-select: none;
    width: 66px;
    height: 100vh;
    left: 892px;
    background-color: rgba(255, 255, 255, 0.2);
}

#light-5 {
    z-index: 3; 
    position: absolute; 
    user-select: none;
    width: 66px;
    height: 100vh;
    left: 1092px;
    background-color: rgba(255, 255, 255, 0.2);
}



/*--CANVAS--------------------------------*/

#TPJ {
    width: 100vw;
    height: 100vh;
    position: relative;
}

canvas { 
    position: absolute; 
}

/* #start-layer {
    z-index: 9; 
    width: 100vw;
    height: 100vh;
    background-color: #b3a3ff;
} */

/* #songselect-layer {
    z-index: 6; 
    width: 100vw;
    height: 100vh;
    background-color: #b3a3ff;
} */
/* 
#text-layer {
    z-index: 4; 
    width: 100vw;
    height: 100vh;
    background-color: transparent;
} */

#gameplay-layer2 {
    z-index: 3; 
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

#gameplay-layer1 {
    z-index: 2; 
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

#background-layer {
     z-index: 1;
     width: 100vw;
     height: 100vh;
     background-color: #b2a4ff;
}



